@font-face{
font-family: "ml";
	src: url("../font/smarterre/Roboto-Regular.ttf") format("ttf");
}

@font-face{
	font-family: "fb";
	src: url(src: url("../font/smarterre/FuturaBookfont.ttf") format("ttf");),
}

#mainNav{
	border-style: none;
	padding: 3px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}

.hexagon1 {
    width: 513px;
    height: 242px;
    margin: 0 0 0 -80px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}


.dropdownApps-menuTop .dropdown-menu a{
  color: black !important;
}

.dropdownApps-menuTop .dropdown-menu a:hover{
  color: black !important;
}


#mainNav.borderShadow, .menuFilters-horizontal, #menuApp.borderShadow {
    display: none;
}

#menuApp.subMenuTop{
	z-index: 0;
}
.navigator{
    filter : invert(100%);
}
.imgMenuTop{
    margin-left:3%;
}

.nameMenuTop {
    display: none;
    text-decoration : none;
    font-size: 0.55vw;
}


a.off{
	filter: invert(50%);
	cursor: unset;
}
a:hover
{
text-decoration:none;
} 

#text{
	fill:white;
	font-family: arial !important;
	text-shadow: 2px 2px 2px grey;
}

#pBonhomme{
	transform:translate(0px,0px);
	transition:transform 0.3s;
}

#pBonhomme:hover{
	transform:translate(0px,10px);
}

div > .titleEduc{
	position: absolute;
	margin: 28%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleCommun{
	position: absolute;
	margin: 27%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleCitoyen{
	position: absolute;
	margin: 29%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleSante{
	position: absolute;
	margin: 29%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleTransport{
	position: absolute;
	margin: 22%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleDechets{
	position: absolute;
	margin: 35%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
    top: 4%;
}

div > .titleConstru{
	position: absolute;
	margin: 19%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

div > .titleEcono{
	position: absolute;
	margin: 33%;
	color: white;
	text-shadow: 0.1em 0.1em 0.5em black;
	margin-top: 6%;
	font-size: 3vw;
}

.description{
	margin: 3%;
}
#bonhomme{
	margin-bottom: -3.9%;
	margin-left: 2%;
}
.fa-play{
    color: blue;
}

@media (max-width: 768px){
	.textPres{
	    font-size: 3vw !important;
	}

	.containerCarousel{
		margin-top: 0% !important;
	}

	#head {
		font-size: 3vw !important;
    	margin-top: 2.5% !important; 
	}

	.logo {
	    width: 26% !important;
	    left: 37% !important;
	    top: 18% !important;
	}

	.hexa {
	    width: 60% !important;
	    margin-left: 20% !important;
	}
}