footer{
    background-color: #f8f9f9;
    font-size: 2rem;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.text-red{
	display : none;
}
.markdown > p {
    font-style: italic;
    text-align: center;
    color: #878786;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;  
}