#mainNav .open-xs-menu {
    color: white !important;
}
@media (max-width: 767px){
	.image-menu .visible-xs{
		display: none !important
	}
	#mainNav .menu-btn-top {
	    padding-top: 0px !important;
	}
}