.sc-player{
    width: 100%;
    height: 41px;
    position: relative;
    border-bottom: 1px solid #fff;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.sc-player .sc-controls a{
  display: block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  left: -5000px;
  bottom: 10px;
  height: 0px;
  width: 93%;
}

.sc-player:hover .sc-scrubber {
  display: none;
  left: 0;
}

.sc-player.playing .sc-scrubber {
  display: block;
  left: 0;
}



.sc-scrubber .sc-time-span{
  height: 5px;
  margin: 9px 0px 0px 0px;
  position: relative;
  z-index: 9;
  cursor: pointer;
  caret-color: red;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 5px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.1s linear;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -20px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: absolute;
  float: left;
  width: 84%;
  height: 100%;
  left: 45px;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  /*float: left;*/
  width: 95.5%;
  cursor: pointer;
  margin: 3px;
  padding: 5px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 200px;
  padding: 5px;
  height: 450px;
  z-index: 500;
  margin-left: -40px;
}

.sc-player .sc-info.active{
  left: 25%;
  top: 5%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
.sc-scrubber .sc-volume-slider{
    background: #000;
    border:1px solid #fff;
    top: -29px;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 6px;
}
.sc-scrubber .sc-volume-status{
    position: absolute;
    width: 30%;
    height: 2px;
    top: 1px;
    left:0;
    background-color: #fff;
}
  .sc-download-track {
      float: right;
      margin-top: 8px;
      position: relative;
      z-index: 111;
  }