/*#menu-top-btn-group, .menu-btn-follow{
	display: none;
}
#btnHeaderEditInfos{
	display: none;
}*/
.contentHeaderInformation{
	padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
}

#menu-top-btn-group{
	padding-right: 40px !important;
}

.sub-menu-social a.ssmla {
	margin-left: -2px;
	border-radius: 10px 10px 0px 0px;
	line-height: 37px;
}
.sub-menu-social a.inviteInElement {
	background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0px;
    border-bottom: 0px;
    height: 45px;
    line-height: 30px;
    margin-top: 0px;
    border-radius: 0px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
}

.affix a.ssmla, .affix a.inviteInElement {
    border-radius: 0px;
}
.sub-menu-social a.ssmla:hover, .sub-menu-social a.ssmla.active{
	background: #000091;
	color: white;
	font-size: 16px;
    line-height: 37px;
}
.sub-menu-social a.ssmla.active{
	line-height: 32px;
	font-weight: 800;
    border-top: 2px solid white !important;
    border-bottom: 0px !important;
}

.sub-menu-social{
	background: transparent;
	margin-top: -45px !important;
	border-width: 0px;
}
.affix {
    background: #ffffff;
}
.contentHeaderInformation{
	padding: 40px 0px 55px 0px;
}
.central-section{
	border-top: 1px solid #ccc;
    margin-top: 0px;
    padding-top: 0px;
}
#central-container, .simulate-central-container{
    padding-bottom: 40px;
}
.central-section[data-active-view="home"]{
    padding-top: 40px;
}
.central-section #filterContainer #show-filters{
    background-color: #22252a;
    color: white;
    border-radius: 0px;
}
.central-section #filterContainer .searchBarInMenu{
    padding-left: 0px;
}
.central-section #filterContainer .main-search-bar-addon{
    background-color: #000091 !important;
}

@media (max-width: 768px) {
    #menu-top-btn-group{
        background-color: #000091;
    }
    #menu-top-profil-social .open-xs-menu{
        color: white;
    }
    #menu-top-profil-social .menu-xs-container{
        border-top: 1px solid white;
    }
    #menu-top-profil-social .menu-xs-container a{
        line-height: 20px;
        border-radius: 0px;
        border: initial;
        margin: initial;
        height: fit-content;
    }
    #menu-top-profil-social .menu-xs-container a:hover{
        border: 3px solid;
    }
    #menu-top-profil-social .menu-xs-container a > i{
        padding-right: 15px;
    }
    #menu-top-profil-social .menu-xs-container a.active{
        border-left: 5px solid;
        border-right: none !important;
        border-top: none !important;
    }
	.contentHeaderInformation .containInvitation{
		width: 98%;
	}
    #filters-nav {
        display: none !important;
    }
    .inviteInElement .label-menu {
    	display: none;
    }
    #menu-top-btn-group a.inviteInElement {
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border-top: 0px;
	    border-bottom: 0px;
	    height: 45px!important;
        line-height: 28px;
	    margin-top: 0px;
	    border-radius: 0px;
	    padding: 6px 12px;
	    font-size: 16px;
	    display: inline-block;
	}
}
#menu-top-btn-group > a > span > i {
    padding-right: 5px;
}
@media (min-width: 768px) {
    .sub-menu-social  a.inviteInElement {
        margin-left: -2px;
        border-radius: 10px 10px 0px 0px;
    }
}
@media (max-width: 767px) {
    #menu-top-btn-group a.params-ftl {
        color: #FF286B;
        margin-left: 0px;
        border-radius: 0px;
    }
}
.sub-menu-social a.ssmla {
    background-color: #fff;
    border: 1px solid #4623c9;
    color: #000091;
}

/*Style Description*/
.why-edit-box {
    /*background:#fff;*/
    padding:37px;
    margin-bottom:30px;
    height:100%
}
.why-edit-box img {
    position:absolute;
    bottom:30px;
    right:37px;
    width:137px;
    opacity:.1
}
.why-edit-box h3 {
    margin:0;
    padding-top:10px;
    line-height: 1.1em;
    color: #14365C;
    font-weight: 600;
    text-transform: none;
    font-size: 20px;
}
.why-edit-box h3::after {
    position:absolute;
    content:'';
    height:10px;
    margin:0 auto;
    left:0;
    top:9%;
    width:50%;
    background-image: linear-gradient(45deg, #4623C9, #FF286B);
}
.why-edit-box p {
    margin: 0;
    margin-top: 0px;
    font-size: 15px;
    line-height: 26px;
    margin-top: 20px;

}
/*style tags*/
.item-tags {color:#48453d; margin-top:30px; overflow:hidden;}
.item-tags .block-title{color: #14365C; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:none;}
.item-tags .item-content-block{/*padding:20px; border-top:2px solid #d4d6d9; background-color:#FFF;*/ display:block;}
.item-tags .tags a{background-image: linear-gradient(45deg, #000091, #0d0d5e); padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:none; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.item-tags a:hover{background-image: linear-gradient(45deg, #FF286B, #4623C9)}
.item-tags .item-content-block.tags{padding-left: 10px; padding-right: 10px!important;}

/*Information general*/
.con1 span{
    font-weight:400;
    color:#b6b6b6;
    font-size:18px;
    text-transform:none;
    padding-bottom:5px;
    display:block;
}

/* .con1 h2{
     font-weight:400;
     color:#1a1a1a;
     font-size:37px;
     line-height:38px;
     margin:0;
     background:url(../images/line.png) no-repeat left bottom;
     padding-bottom:10px;
     margin-bottom:25px;
 }*/
.con1 .tags-info {
    border-width: 0 0 0 6px;
    border-radius: 6px;
    border-color: #000091;
    display: block;
    margin: 4px 0 0;
    padding: 10px 5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-style: solid;
    float: left;
    width: 100%;
    box-shadow: 0 0 10px 0 #ddd;
    word-wrap: break-word;
}
.con1 .tags-info:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.con1{
    padding-top:0px;
    margin: 20px 0px 0px 0px;
}

#central-container .con1 p{
    font-weight:400;
    color:#8a8a8al;
    font-size:16px;
    line-height:26px;
}

.tgimg {
    float: left;
    min-width: 45px;
    padding-top: 8px;
    width: 10%;
}
.tgcon{
    float:left;
    width:85%;
    border-bottom: 1px solid #9e9e9e;
}
.tgcon span{
    display:block;
    font-weight:400;
    color:#1a1a1a;
    font-size:18px;
}
.tgcon p{
    font-weight:400;
    color:#8a8a8a;
    font-size:16px;
    line-height:26px;
}
.ti-2x {
    font-size: 28px;
    color: #000091;
}
.tg{
    padding-bottom:45px;
}

#pod-info-Address {
    margin-top: 20px;
}



/*BTN EDIT*/
.themeBtn {
    background: #000091;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;

}
.themeBtn:hover {
    background: rgb(0, 0, 145);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px rgba(0, 0, 145, 0.6);
}
.margin{
    margin-top:20px;
    margin-bottom: 0px;
}

/* Tab */
/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(
            120deg,rgba(70,35,201,0.9) 52%,rgba(255,40,107,0.9) 100%);
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    margin-left: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #000091;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-image: linear-gradient(
            120deg,rgba(70,35,201,0.9) 52%,rgba(255,40,107,0.9) 100%);
    color: #ffffff;
}
.bhoechie-tab-menu .list-group-item {
    border: 1px solid rgba(70,35,201,0.8);
}
.bhoechie-tab-menu a.list-group-item {
    color: #000091;
}
.bhoechie-tab-menu a.list-group-item:hover {
    color: rgba(255,40,107,0.9);
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid rgba(255,40,107,0.7);
}

div.bhoechie-tab-content{
    background-color: transparent;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}
div.bhoechie-tab div.bhoechie-tab-content .plan-name {
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    margin-top: 0;
}
div.bhoechie-tab div.bhoechie-tab-content .plan-title {
    color: rgba(255,40,107);
    font-size: 25px;
    font-weight: 700;
    text-transform: none;
    margin-top: 10px;
}
.title-section {
    font-size: 20px;
    color: #000091;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid rgba(255,40,107);
}
.btn-update-network, .btn-update-geopos {
    background-color: #000091;
    color: #ffffff;
}
.btn-update-network:hover, .btn-update-geopos:hover {
    background-color: rgba(255,40,107);
    color: #ffffff;
}
.tl-network  {
    color: #000091;
}

.hr-net {
    border-top: 1px solid #000091;
}

@media (max-width: 767px) {
    .title-char {
        color: rgba(255,40,107);
    }
    .list-char {
        color: #ffffff;
        font-size: 13px;
    }
    .bhoechie-tab-container .bhoechie-tab {
        padding-left: 0px;
        padding-right: 0px;
    }
    .why-edit-box h3 {
        font-size: 16px;
    }
    .title-section {
        font-size: 18px;
    }
    #central-container .con1 p {
        font-size: 14px;
    }
    .tgcon span {
        font-size: 16px;
        margin-top: -25px;
        margin-left: 25px;
    }
    .contain-char {
        padding-left: 0px;
        padding-right: 0px;
    }
    .why-edit-box h3 {
        padding-top: 40px;
    }
    .why-edit-box {
        padding: 10px;
    }
    .item-tags .tags a {
        padding: 5px;
    }
    .ti-2x {
        font-size: 20px;
    }
    .themeBtn {
        font-size: 12px;
        height: 32px;
        padding: 7px 10px;
    }
    .margin {
        text-align: center;
    }
    .boxBtnLink a.menu-linksBtn {
        padding: 5px!important;
        font-size: 12px!important;
    }
    .name-header {
        font-size: 18px;
    }
}
.icon-category {
    height: 70px;
    width: auto;
}


