.navbar_affix #menuTopLeft.padding-top-30 {
    padding-top: 0px!important;
}

.navbar_affix #menuTopRight.padding-top-35 {
    padding-top: 5px!important;
}

.navbar_affix #menuTopRight.margin-top-35 {
    margin-top: 0px!important;
}

@media (min-width: 768px) {
    #mainNav .lbh-menu-app,
    #mainNav .lbh-urlExtern,
    #mainNav .lbh-anchor,
    #mainNav .lbh-dropdown {
        margin-top: 50px;
    }
    .navbar_affix #menuTopLeft .lbh-menu-app,
    .navbar_affix #menuTopLeft .lbh-urlExtern,
    .navbar_affix #menuTopLeft .lbh-anchor {
        margin-top: 0px !important;
    }
    .navbar_affix #menuTopLeft .menu-btn-top img.image-menu {
        height: 40px!important;
        width: auto!important;
    }
}

@media (max-width: 767px) {
    .navbar_affix.fadeInDown,
    #mainNav.fadeIn {
        -webkit-animation-name: none;
        animation-name: none;
    }
}


/* STYLE NOTIFICATION */

#notificationPanelSearch .notifications .pageslide-list a .label,
.notificationsElement .pageslide-list a .label {
    background-color: #9cb749!important;
    color: rgb(11, 70, 79);
}

#notificationPanelSearch .notifications li,
.notificationsElement li {
    background-color: #EFF9DF;
    border-bottom: 1px dashed #9cb749;
}

#notificationPanelSearch .notifications .pageslide-title,
.notificationsElement .pageslide-title {
    color: #12C99D;
}

#notificationPanelSearch .btn-notification-action {
    background-color: rgb(46, 110, 118)!important;
}

#notificationPanelSearch .notifications .pageslide-title,
.notificationsElement .pageslide-title {
    color: rgb(46, 110, 118);
}

#notificationPanelSearch .btn-notification-action.btn-danger {
    background-color: #d9534f!important;
}