#ajax-modal .modal-content,
#modalLogin .modal-content,
#modalRegister .modal-content {
    background-color: #0E163C;
}

.portfolio-modal .close-modal .lr,
.portfolio-modal .close-modal .lr .rl {
    background-color: #ffffff;
}

#ajax-modal .modal-content .container,
#formContact .container {
    background-color: #0E163C;
}

#ajax-modal #ajax-modal-modal-body .bg-white {
    background-color: #0E163C;
}

#ajax-modal label.control-label,
#ajax-modal .form-group .listEntry h6,
#modalLogin label,
#modalLogin small,
#modalRegister label {
    color: #fff;
}

#ajax-modal .form-control,
#ajax-modal .form-group #name,
#ajax-modal .modal-content .form-group select,
#ajax-modal .modal-content .fieldset select,
#modalLogin .form-control,
#modalRegister .form-control {
    height: 40px;
    background-color: #272e50!important;
    border: 1px solid #272e50 !important;
    color: #fff!important;
}

#ajax-modal .select2-container-multi .select2-choices {
    min-height: 40px;
    background-color: #272e50!important;
    color: #fff!important;
}

#ajax-modal .select2-container-multi {
    min-height: 53px;
}

#ajax-modal .select2-container-multi .select2-choices .select2-search-field input {
    background-color: #272e50!important;
    color: #fff;
}

#ajax-modal .form-group.infocustom p[class^="text-"] {
    color: #ffffff!important;
}

#ajax-modal .modal-header {
    background-color: #fff !important;
}

#ajax-modal .modal-header #ajax-modal-modal-title {
    color: #0E163C !important;
}


/* COFORM */

.coFormbody {
    background-color: #0E163C;
}

.coFormbody #wizardLinks li a.done .stepNumber {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #0e163c;
    /* font-size: 20px; */
}

.coFormbody #wizardLinks li a.done .stepDesc {
    color: #ffffff;
}

.coFormbody #wizardLinks li a.selected::before,
.coFormbody #wizardLinks li a.done::before {
    border-color: #ffffff;
}

.coFormbody #wizardcontainer .title-header:before,
.coFormbody #wizardcontainer .title-header .sectionStepTitle,
.coFormbody .sectionStep .title-header:before {
    border-color: #ffffff;
}

.coFormbody #wizardcontainer .questionBlock label h4 {
    color: #ffffff!important;
}

.coFormbody #formQuest .questionList .questionBlock {
    text-align: center;
}

.coFormbody #formQuest .questionList .questionBlock div[class^="col-"] {
    display: inline-block;
    float: none;
}

.coFormbody #formQuest .questionList .questionBlock .form-group {
    text-align: left;
}

.coFormbody .rdo-grp .thradio label,
.coFormbody .form-check-label h4 {
    color: #fff!important;
}

#customHeader .coFormbody .swMain ul li a.selected::before,
#customHeader .coFormbody .swMain ul li a.done::before {
    border-color: #ffffff;
}

.infocustom {
    color: #ffffff;
}

@media (min-width:1200px) {
    .coFormbody .rdo-grp {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .coFormbody .rdo-grp {
        margin-left: 5%;
        margin-right: 5%;
    }
}