.inputRadioCo, .rdo-grp label, .ckd-grp label, .inputckbCo{
    width : 100%;
}

.rdo-grp label span div, .ckd-grp label span div{
    display : block !important;
}

.eventDirCress{
    height : 150px;
    font-size:18px
}


.eventDirCress a {
    /*height: -webkit-fill-available; */
    /*background-color: #a182ae; */
    color :white
}

.eventDirCress img{
    /*height: 150px; */
    width: 100%;
}

.eventDirCress .divImg {
  height: 150px;
  overflow: hidden;
}

.eventDirText{
    position: relative; 
    height: 150px;
}

.eventDirText div{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 0px;
}

#menuBottom{
    z-index: 20000;
    width: 52px;
}

.toolbar-bottom-fullwidth { 
    display:none;
    }     


/*.toolbar-bottom-adds {
    border-radius: 3px !important;
    width: fit-content;
    bottom: 56px !important;
    border: 2px solid;
}
.toolbar-bottom-adds .addBtnFoot {
    background: white !important;
    border-radius: 0px;
    width: 100%;
    color: #1a2880!important;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.toolbar-bottom-adds .addBtnFoot:hover{
    box-shadow: none;
    background: #1a2880 !important;
    color: white !important;
}*/

#show-bottom-add.opened .toolbar-bottom-fullwidth{
    left:45px !important;
}

.imgEss{
    position: relative;
top: 0px;
max-width: 150px;
}

/*.pricingTable-header{
    display:none;
}*/

.coFormbody{
    padding: 0px 30px 0px 30px !important;
}