.hidden-xs.main-menu-left.inSig{
	display:none !important;
	width:50px;
}
.bgpixeltree_sig{
	display: none;
}

.main-menu-left.inSig hr{
	border-top: 1px solid transparent !important;
}
.main-menu-left.inSig .fa-angle-right, 
.main-menu-left.inSig .lbl-btn-menu{
	display:none;
}
.main-menu-left.inSig .fa{
	/*margin-left:5px;*/
}
.main-menu-left.inSig hr{
	max-width:5px!important;
}
.menu-left-container {
	overflow-y: auto;
	height: 414px;
}
.menu-left-container > div:last-child {
	margin-bottom: 30px !important;
}
.menu-left-container i.fa{
	padding: 0px;
	border-radius: 30px;
	width: 24px;
	text-align: center;
	font-size: 18px;
	height: 24px;
}
.helloasso{
	border-radius:10px;
}
.helloasso img{
	width:120px; 
	border-radius:10px;
	-moz-box-shadow: 0px 0px 5px -3px #353535 !important;
	-webkit-box-shadow: 0px 0px 5px -3px #353535 !important;
	-o-box-shadow: 0px 0px 5px -3px #353535 !important;
	box-shadow: 0px 0px 5px -3px #353535 !important;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}

#menu-left-thumb-profil{
	margin-top: -4px;
}

#menu-extend{
	margin-left:10px;
}
.inSig #menu-extend{
	margin-left:0px;
}


.menu-button-left.glass-hover:hover, .menu-button-left.glass-hover.selected{
	/*color:#2BB0C6;*/
	padding: 8px 10px 5px 3px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 51px;
	margin-left: -3px;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.42);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.42);
}

.inSig .menu-button-left.glass-hover:hover, .inSig .menu-button-left.glass-hover.selected{
	padding: 0px!important;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0)!important;
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0)!important;
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0)!important;
    background-color: transparent !important;
}
@media screen and (max-height: 580px) {
.footer-menu-left, .helloasso{
	display:none;
}