@media screen and (min-width: 920px) and (max-width: 1200px) {
	.main-top-menu .moduleLabel {
    	max-width: 32% !important;
	}


}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
	.main-top-menu .moduleLabel {
    	/*max-width: 25% !important;*/
	}
	.moduleLabel.offline{
		max-width: 32% !important;
	}
}


/*.main-top-menu{
	height: 190px;
	background-color: #FFF;
	position: fixed !important;
	opacity: 1;
	z-index: 10;
	top: 0px;
	moz-box-shadow: 0px 2px 4px -3px #656565;
	-webkit-box-shadow: 0px 2px 4px -3px #656565;
	-o-box-shadow: 0px 2px 4px -3px #656565;
	box-shadow: 0px 2px 4px -3px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}
*/

.pageContent{
		margin-left:230px !important;
	}


.main-top-menu .main-gallery-top{
	height: 140px;
	width:100%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.frame {
	width: 100%;
	/*height: 160px;*/
	padding: 0;
}
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 120px; height: 100%; }

.shadow {
    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}

.main-menu-left hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(72, 72, 72, 0.1) !important;
    width: 100%;
}

.text-brown {
    color: rgb(92,75,62) !important;
}

.bg-green-poi {
    background-color: rgb(92,75,62) !important;
    color: white;
}

.main-menu-left a, a:focus, a:hover, a:active {
    outline: 0 !important;
    text-decoration: none !important;
}

.btn-map-na{
    margin: 0px 3px !important;
    font-size: 14px !important;
    width: 40% !important;
    border-radius: 4px !important;
    height: 34px !important;
    background-color: #0095FF !important;
    color: white !important;
    border: 2px solid #0095FF !important;
}

a.lbh-menu-app{
	color:rgb(198,198,198) !important ;
	/*background: transparent !important;*/
	/*font-size: 17px;
	padding: 5px;
	top: 0px;
	border-radius: 0px 0px 0px 0px;
	z-index: 15;
	border: 0;*/
}

a.lbh-menu-app.active, a.lbh-menu-app:hover{
	color:rgb(70,70,70) !important;
}

#main-btn-co{
	font-size:20px;
	font-weight: 800;
	color:#444;
	/*box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;*/
}
#main-btn-co:hover{
	/*box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;*/
}

#logo-main-menu{
	float:left;
	font-size: 24px;
	width: 200px;
	padding: 0px;
	top: 0px;
	z-index: 15;
	background-color: rgb(255, 255, 255);
	display: inline;
	margin-right: 10px;
}

.mainLabel {
    font-size: 21px;
	margin-bottom: 0px;
	margin-left: -17px;
	margin-top: 16px;
	display: inline-block;
}
#main-title {
    margin-top: 16px !important;
}

.item-galley-top{
	padding: 10px 5px;
	display: table-cell;
}

.hide{
	height: 0px;
	width: 0px;
}
.img-galley-top{
	height:120px;
	width:120px;
}
span.item-galley-top a {
    display:inline-block;
    width:120px;
    height:120px;
    overflow:hidden;
    position: relative;
}

img.img-galley-top {
    max-width:none;
    height:100%;
    width:auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.description-poi{
	height:120px;
	width:120px;
	position:absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	top:10px;
	left:5px;
}

.description-poi div {
	height: 88px;;
	overflow: hidden;
}

.description-poi h3{
	font-size: 11px;
    padding: 2px 3px;
    margin: inherit;
    text-align: -webkit-left;
		font-weight: bold;
}
.description-poi span{
	padding: 0px 3px;
    font-size: 10px;
    white-space: initial;
    width: 120px;
    float: left;
    margin: inherit;
    /* color: grey; */
    text-rendering: geometricPrecision;
}
.description-poi a{
	border-radius: 5px !important;
    background: transparent;
    font-size: 10px;
    padding: 4px !important;
    float: right;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.lbh-menu-app{
	font-size: 17px;
}

#navbar .menu-name-profil{
	height: 30px !important;
}

#navbar{
	padding: 5px !important;
}
#navbar #menu-thumb-profil{
	height: 30px !important;
	width: 30px !important; 
}

#second-search-bar{
	width: 90% !important;
	height: 35px !important;
}

#second-search-bar-addon{

	height: 35px !important;
}

.searchBarInMenu {
    width: 280px !important;
    height: 35px !important;
}

@media screen and (max-width: 767px){
	/*#notificationPanelSearch{
		position: fixed;
		top: 51px;
		right: 50px;
		width: 300px;
	}*/
	#main-btn-co{
		margin-right:0px;
	}
	/*button.btn-menu-notif{
		margin-right: -10px;
	}*/

	.pageContent{
		margin-left:0px !important;
	}

	/*#mainNav .logo-menutop {
	    display: none !important;
	}*/

	#mainNav .menu-btn-top {
	    font-size: 13px !important;
	}

	.dropdownApps-menuTop .dropdown-menu a{
		color : #5c4b3e;
	}


}


#mainNav .dropdown-result-global-search{
    left: unset !important;
}

#menuMyContacts{
	display: none;
}

#menuTopRight .menu-btn-top {
    color: #c6c6c6 !important;
}

#mainNav .btn-menu-register{
    background-color: rgb(92,75,62) !important;
    color: white !important;
    border: 1px solid white;
    padding: 10px 15px !important;
    font-size: 13px;
    text-transform: uppercase;
}

#mainNav .btn-menu-register:hover {
    background-color: white !important;
    color: rgb(92,75,62) !important;
    border: 1px solid rgb(92,75,62) !important;
}

#mainNav .btn-menu-connect{
    background-color: #b8d065 !important;
    color: white !important;
    border: 1px solid white;
    padding: 10px 15px !important;
    font-size: 13px;

}

#mainNav .btn-menu-connect:hover {
    background-color: white !important;
    color: #b8d065 !important;
    border: 1px solid #b8d065 !important;
}


.filter-albums-gallery .center {
	background-color: #c3c3ca;
    border-radius: 40px;
    opacity: 0.8;
}


#menuTopRight {
    margin-right: 15px
}

.menu-name-profil {
    height: 35px !important;
}
