.btn-tags-unik {
	margin-right: 5px;
}

.triangle {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%);
}

#mainNav .navLeft .active, #mainNav .navLeft a:hover{
	background-color: #ffb34d;

}

#mainNav{
	height: 50px;
	padding: 0px;
}

#mainNav .menu-button{
	text-decoration:none;
}

#mainNav .menu-button{
	height: 50px;
}

#mainNav .btn-menu-connect{
	height: 35px;
}

#mainNav .navbar-nav{
	padding: 5px;
}

#mainNav #navbar .btn-show-mainmenu{
	margin-top: 5px;
}

#mainNav #navbar .menu-name-profil{
	margin-top: 5px;
}
.co3BtnShare.btn-share{
	display: none;

}

.headerSearchContainer .btn-open-form{
	background-color: #93C020 !important;
}

 @media (min-width: 768px) {
	.listContenaire .listHeight{
		height: 90px;
	}

	.listContenaireClassifieds .listHeight{
		height: 40px;
	}

	.listContenaire{
		height: 90px;

	}

	.listContenaireClassifieds{
		height: 40px;

	}
}
/*#mainNav{
	top: 110px !important;
}*/


.ressourceStandalone .hr10, .ressourceStandalone .subtypeClassified,.ressourceStandalone .categoryClassified,.ressourceStandalone .sectionClassified{
	display: none;
}

.textHVA{
	font-size: 18px;
}

#mainNav .open-xs-menu {
    padding: 12px 15px 10px 15px;
}


#filters-nav{
	display: none !important;
}
#ajax-modal.portfolio-modal.modal{
	z-index:100000;
}
#mainNav .menu-button.lbh-menu-app{
	line-height: 30px;
	font-size: 18px;
    font-family: Georgia, serif;
    font-weight: bold;
}