#second-search-bar {
	background-color: white;
	color: #098048 !important;
	border-radius: 20px !important;
}

#newsstream {
    min-height: 600px !important;
}

#mapAlternatibaMap{
	z-index: 1;
	width: 31% !important;
	height: 106% !important;
	position: relative;
	border-radius: 50%;
}

.nameMenuTop{
	color: #098048;
}

#second-search-bar-addon-alternatibaRe{
	border-color: transparent;
	background-color: transparent;
}

#menuRightmapAlternatiba{
	position: absolute !important;
}

#dropdown {
    background-color: whitesmoke;
    width: 55% !important;
    z-index: 1000;
}

#mapAlternatiba{
	height: 500px;
	margin-bottom: 3vw;
}

.logo-menutop {
    border-radius: 19px;
}

#fa-search {
    color: #098048;
    font-size: 28px;
    z-index: 1000000000000;
    position: relative;
    margin-left: 1vw;
}

#second-search-bar-addon-alternatiba{
	position: relative;
	left: 2.5%;
}



.text-two{
	background-color: white;
	font-family:'Helvetica';
	font-size: 32px;
}

.section-two{
	color: #098048;
	position: absolute;
	margin-top: 20vw;
	z-index: 10;
	margin-left: 38vw;
}

.one{
	position: absolute;
	z-index: 1;
}

.img-one{
	width: 50%;
	height: 719px;
}

.text-one{
	background-color: #098048;
	color: white;
	font-family: 'Helvetica';
	font-size: 37px;
	margin-left: 29vw;
}

.seconde-img-one{
	position: relative;
	width: 100%;
	height: 900px;
}

.img-event{
	border:solid 12px #098048;
	border-radius: 20px;
	width: 20vw;
	margin-top: 1vw;
}

.img-carto{
	width: 43%;
	height: auto;
}

.illustration{
	width: 43%;
	height: auto;
}

.partenaires{
	width: 43%;
	height: auto;
}

.plus{
	width: 30%;
	height: auto;
}

@media (min-width:1100px) and (max-width:1600px;){
	.text-one{
		font-size:37px;
	}

	.text-txo{
		font-size: 32px;
		margin-left: 38vw;
	}
}

@media (max-width:1100px) and (min-width:500px){
	.text-two {
	    font-size: 25px;
	}

	.section-two {
	    margin-top: 10vw;
	    margin-left: 30vw;
	}

	.text-one {
	    font-size: 25px;
	    margin-left: 15vw;
	}

	.seconde-img-one {
	    position: relative;
	    width: 100%;
	    height: 500px;
	}

	.img-one {
	    width: 62%;
	    height: 398px;
	}

	.seconde-img-one {
	    height: 500px;
	}
}

@media (max-width:500px){
	.img-one{
		width: 100%;
		height: 179px;
	}

	.seconde-img-one{
		height: 230px !important;
	}	

	.img-carto{
		width: 100%;
		height: auto;
	}

	.text-one {
	    font-size: 16px;
	    margin-left: 11vw;
	}

	.text-two{
		background-color: white;
		font-family: 'Helvetica';
		font-size: 16px;
	}

	.section-two {
	    margin-top: 9vw;
	    margin-left: 21vw;
	}

	.img-event{
		width: 52vw;
	}

	.illustration{
		width: 75%;
	}

	.partenaires{
		width: 95%;
	}

	.plus{
		width: 44%;
	}
}