.bloc{
    margin-top: 4%;
    background-color : #f8f8f8;
    box-shadow : 0px 3px 5px #4d4c4b;
}

.card-info {
    margin-left: 3% !important;
    width: 29% !important;
}
.bloc-h1{
    padding: 2%;
}
.h1color{
    background : #8ec641;
    color : white;
}
.h1nocolor{
    color : #8ec641;
}
h1{
    text-transform: none !important;
}
.bloc-container{
    padding : 2%;
}
.title{
    color: black;
}
.logo{
    margin-top: -4%;
    margin-left: -0.45%;
}
#newsstream .loader{
    display: none;
}
#mapPossession{
    height: 500px !important;
}
#menuRightmapPossession{
    position: absolute !important;
    height: 68% !important;
}

#second-search-bar-addon-costrasbourg{
	border-color: transparent;
	background-color: transparent;
	height: 50px !important;
	width: 2%;
	margin-top: 0% !important;
	border-radius: 6px;
	margin-left: -0% !important;
	position: relative;
	left: 29px;
	top: 4vw;
	z-index: 1;
}
#fa-search{
	color:#8ec641;
	font-size: 31px;
}

.txt-header{
    background-color:#65b32d;
    color: white;
    border-top-color: #8ec641 !important;
    border-bottom-color: #8ec641 !important;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 12px;
    border-bottom-width: 12px;
    margin-top: -118px;
}
