.header{
	position: absolute;
	margin-left: 19vw;
	margin-top: 3vw;
}

.searchapp {
	width: 57px;
	height: 39px;
	margin-top: 6px;	
}

.projectsapp {
	width: 64px;
	height: 36px;
	margin-top: 14%;
}

.agendaapp {
	width: 47px;
	height: 42px;
	margin-top: 3px;
}

.liveapp {
	width: 60px;
	height: 44px;
	margin-top: 1px;
}

.documentationapp {
    width: 94px;
    height: 40px;
    margin-top: 5px;
}

#menuTopCenter .nameApp {
    margin-left: 2%;
    margin-right: 2%;
}

#menuTopCenter .nameApp .label-menu {
	color: #00bcbe;
	display: block;
}

.main-container {
	padding-top: 88px !important;
}

.categ li {
	cursor: pointer;
}

.subsubcat{
	cursor: pointer;
}

#ModalcontainCateg .valLabel {
	text-align: left;
}

#ModalcontainCateg .valLabel:hover {
	background-color: white !important;
	color: #00bcbe;
}

#ModalcontainCateg .test2:hover {
	background-color: white;
	color: #00bcbe;
}

.toolbar-bottom-adds {
	display: none;
}

.subcateg{
	display: none;
}

.subsubcateg{
	display: none;
}

/* fonctionnel */
/*#exampleModalLong input {
  display: none;
}

#exampleModalLong input ~ ul {
 display: none;
}

#exampleModalLong input:checked ~ ul {
 display: block;
}

#exampleModalLong input ~ .fa-angle-double-down {
  display: none;
}

#exampleModalLong input:checked ~ .fa-angle-double-right {
  display: none;
}

#exampleModalLong input:checked ~ .fa-angle-double-down {
  display: inline;
}*/

/* habillage */
#exampleModalLong li {
  display: block;
  font-family: 'Arial';
  font-size: 15px;
  padding: 0.2em;
  border: 1px solid transparent;
  /*color: black;*/
}

#show-bottom-add {
	font-size: 29px;
}

.text-dark, a.text-dark {
	color: inherit;
}

/*#exampleModalLong li:hover {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #00bcbe;
}*/

.flechebasAgenda{
	transform: rotate(270deg);
	width: 4vw;
	margin-top: 6.2vw;
	position: absolute;
	margin-left: -13vw;
}

.arrow_box {
	color: #00bcbe;
}

.flechebas{
	transform: rotate(270deg);
	width: 4vw;
	margin-top: 2.2vw;
	margin-left: 0vw;
	margin-bottom: 1vw;
}

#menuApp{
	display: none;
}

.contain{
	margin-left: 12%;
	margin-right: -13%;
}

 #donation-btn{
    display: none;
 }

#dropdown{
	background-color:whitesmoke;
	width: 59%;
	z-index: 1000;
}

#containerCard{
	box-shadow: 0px 0px 11px;
	width: 19vw;
	margin-left: 4vw;
}

.ultra{
	width: 55vw;
}

.actu{
	background-color: #300080;
}

#actualite{
	margin-top: 5vw;
}

.explicationAgenda{
	margin-left: 2%;
	margin-right: 2%;
}

.explication-title-agenda{
    text-align: center;
	background-color:#ff5563;
	color:white;
	margin-top: 2vw;
	border-radius: 15px; 
}

.explication-title{
    text-align: center;
	background-color:white;
	color:#00bcbe;
	margin-top: 3vw;
	border-radius: 15px; 
}

.afficheCard{
	margin-left: 4vw;
	margin-right: -25vw;
	margin-top: 4vw;
}

.explication{
    margin-top: 2%;
	margin-left: 4.2%;
	background-color: #00bcbe;
}

.explicationActus{
	background-color: #00bcbe;
}

.backLeft{
	width: 3vw;
	margin-top: 14vw;
	margin-left: -11vw;
}

.backRight{
	transform: rotate(180deg);
	width: 3vw;
	margin-top: 14vw;
	margin-left: 7vw;
}

.btn-plus-event{
	background-color:#00bceb;
	color:white;
	border-radius: 10px;
	border-color:#00bcbe;
	border-width: 4px;
	font-size: 24px;
	padding-left: 53px;
	padding-right: 56px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}

#second-search-bar {
	background-color:#2c2766;
	border-radius: 5px 5px 5px 5px !important;
	height: 50px !important;
	width: 55vw !important;
/*	position: relative;
*/	margin-top: -1vw;
	color:white !important;
}

#filters-nav{
	top : 120px !important;
	position: absolute;
}

#second-search-bar-addon-mednum{
	border-color:transparent;
	background-color:#00bcbe;
	height: 51px;
	width: 55px;
	margin-top: -1vw;
/*	position: relative;
*/	border-radius: 6px;
	margin-left: -3px;
}

#fa-search{
	color:#300080;
	font-size: 38px;
}

.txtHeader{
	position: absolute;
	color:white;
	font-size: 78px;
	margin-left: 12vw;
	margin-top: 45vw;
}

.titleBandeau{
	font-family: 'Covered By Your Grace', cursive !important;
}

.icoBandeau{
	width: 4vw;
}

.logoApp{
	width: 17vw;
	margin-top: 2vw;
	padding: 57px;
	margin-bottom: 2vw;
	margin-left: 0vw;
	margin-right: 10vw;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}

.hexagon1 {
    width: 485px;
    height: 250px;
    margin: 0 0 0 -80px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
    .img-hexa{
        margin-top: -25%;
    }

    .info-card{
        border-radius: 15px;
        background: #300080;
        padding: 3%;
        font-size: 25px;
        color : white;
        box-shadow: 4px 3px 7px 3px #dadada;
        margin-left: 13%;
        margin-right: 13%;
    }
    .containCard{
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0px 0px 10px gray;
      margin-left: 2vw;
      margin-right: 2vw;
    }

    .date{
    	color:red;
    	font-size:24px;
    }

    .containCard2{
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0px 0px 10px gray;
      margin-left: 2vw;
      margin-right: 2vw;
    }

    .text-card{
      font-size: 22px;
      color: #2c2766;
    }

    .containExplain{
    	margin-top: 2%;
    }

    .img-actus{
    	width: 4vw;
    }

    .name{
		color:#00bcbe;
		font-weight: bold;
		font-size: 24px;
	}

@media (max-width:768px){
	.text-card{
      font-size: 20px;
      color: #2c2766;
    }

    #second-search-bar {
		margin-left: 17% !important;
	}

	#second-search-bar-addon-mednum {
		width: 8% !important;
		margin-left: -3px !important;
		margin-top: -10px !important;
	}

	.searchIcone{
		margin-left: -2vw !important;
	}

    .img-actus{
    	width: 8vw;
    }

	.svg{
		width: 80vw;
	}

	.afficheCard{
		margin-left: 2vw;
		margin-right: -18vw;
		margin-top: 1vw;
	}

	.name{
		font-size: 26px !important;
	}

	.containExplain{
    	background-color: #00bcbe;
    }

    .date{
    	color:red;
    	font-size:28px;
    }

	.btn-plus-event{
		font-size: 27px!important;
		padding-left: 33px!important;
		padding-right: 21px!important;
		padding-top: 15px!important;
		padding-bottom: 15px!important;
		font-weight: bold;
	}

	.ultra{
		width: 50vw;
	}

	.txtHeader{
		font-size: 18px;
	}

	.titleBandeau{
		font-size:20px;
	}

	.icoBandeau{
		width: 6vw;
	}

	.contain{
		margin-left: 0% !important;
		margin-right: 0% !important;
	}

	#containerCard{
		width: 91vw;
		height: 250px;
		margin-left: 0vw;
		margin-top: 5vw;
	}

	.logoApp{
		width: 22vw;
		margin-top: 6vw;
	}
}