#mainNav .nameMenuTop {
/*	display: block !important;
	opacity: 1 !important;
    transition: inherit !important;
    font-size: large !important;*/
}
#mainNav:hover .nameMenuTop {
/*  display: block !important;
  opacity: 1 !important;
  text-align: center !important;*/
}
#menuTopLeft a{
	/*text-decoration: none !important;
	color: #008037 !important;*/
	/*background-color: #FB904D !important;*/
}

#menuTopLeft .lbh-menu-app{
	/*margin-top: 40px;*/
    /*box-shadow: 0 0 0 1px #FFFFFF inset;
    background-color: #FFFFFF;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bfc1c2;
    text-shadow: 0 1px 0 #FFFFFF;
    -moz-box-shadow: 0 4px 0 #bfc1c2;
    -webkit-box-shadow: 0 4px 0 #bfc1c2;
    box-shadow: 0 4px 0 #bfc1c2;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #b2b2b4;
    text-align: center;*/
}

/*#menuTopLeft .top-btn-eywa:first-child {
      -moz-border-radius: 0px 5px 0 0;
    -webkit-border-radius: 0px 5px 0 0; 
     border-radius: 0px 5px 0 0;

}
#menuTopLeft .top-btn-eywa:last-child {
     -moz-border-radius: 5px 0px 0 0;
    -webkit-border-radius: 5px 0px 0 0; 
     border-radius: 5px 0px 0 0;
}
#menuTopLeft .top-btn-eywa .fa{
      font-size: 24px;
}*/


/*
#menuTopLeft a.lbh-menu-app:hover{
	text-decoration: none !important;
	color: #FB904D !important;
	font-weight: bold;
	border-bottom: 2px solid #FB904D;
    border-radius: 10px;
    /*-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;*/
/*}*/
/*#menuTopLeft a.lbh-menu-app:focus{
    text-decoration: none !important;
    color: #FB904D !important;
    font-weight: bold;
    border-bottom: 2px solid #FB904D;
}*/
.bodySearchContainer .dayEvent:before {
    border-right: 12px solid #008037 !important;
}

.smartgrid-slide-element .item-slide{
	box-shadow: none !important;
}

.searchBar-filters .search-bar {
    border-radius: 20px 0px 0px 20px;
    box-shadow: none !important;
    width: inherit !important;
    border: 2px solid #008037 !important;
}
.searchBar-filters .main-search-bar-addon {
    width: 15%;
    height: 40px;
    background-color: #008037 !important;
    font-size: 14px;
    padding: 12px 7px;
}
.searchObjCSS #input-sec-search .input-global-search {
    border-top: 2px solid #008037 !important;
    border-right: 2px solid #008037 !important;
    border-bottom: 2px solid #008037 !important;
}
.searchObjCSS #input-sec-search .input-group-addon {
	border-top: 2px solid #008037 !important;
    border-left: 2px solid #008037 !important;
    border-bottom: 2px solid #008037 !important;
}
.searchObjCSS .dropdown .btn-menu, .searchObjCSS .filters-btn {
    border: 2px solid #008037 !important;
}
.searchObjCSS .btn-select-filliaire {
    color: #008037 !important;
    background-color: #ceedeb !important;
}
.searchObjCSS .btn-select-filliaire:hover {
    color: #FB904D !important;
    background-color: #ceedeb !important;
}
.searchObjCSS .dropdown .dropdown-menu {
	border:none !important;
}
.searchObjCSS .dropdown .dropdown-menu button {
    background: #ceedeb !important;
    font-weight: bold;
}
.arrow_box:before {
    border-bottom: 14px solid #ceedeb !important;
}
.divSearchTheme #inputSearchThemes{
	background-color: #ceedeb !important;
}
.divEndOfresults{
    display:none;
}
.fc-event-container .fc-event,.btn-show-onmap,.navbar-custom .btn-show-map, .main-container.vertical .btn-show-map,.main-container.horizontal .btn-show-map,.dayEvent   {
    background-color: #008037 !important
}

.navbar-custom .btn-show-map:hover,.btn-show-onmap:hover,.main-container.vertical .btn-show-map:hover, .main-container.horizontal .btn-show-map:hover{
    background-color: #fff !important;
    color: #008037 !important;
    border: 2px solid #008037 !important;
}
.link-circle{
    background-color: #008037 !important;
}
.link-circle:hover {
    color: #008037 !important;
    background-color: #fff !important;
    border: 1px solid #008037 !important;
}
a.place-align.active .label-link{
    color: #008037 !important;
}
a.place-align:hover .label-link{
    color: #008037 !important;
}
a.place-align.active .link-circle {
    color: #008037 !important;
    background-color: #fff !important;
    border: 1px solid #008037 !important;
}

a.place-align:hover .link-circle {
    color: #008037 !important;
    background-color: #fff !important;
    border: 1px solid #008037 !important;
    transform: rotate(360deg) !important;
}

#search-content{
    min-height: 795px !important;
}
.switchDirectoryView{
    display: none
}

/*@media (max-width: 768px){
    #menuTopLeft .lbh-menu-app{
        margin-top: 0px !important;
    }
    #menuTopLeft .label-menu{
        margin-left:15px;
    }
    #menuTopLeft a:hover{
        border-bottom: 0px  !important;
        border-radius: 10px;
    }
}*/

/**********menuleft*************/
/*#menuLeft .btn-menu .label-menu ,#menuLeft .btn-menu i.fa{
    float:left !important;
}*/
#menuLeft .image-menu{
    padding:0px !important;
}
#menuLeft{
    overflow: auto;
}
/* width */
#menuLeft::-webkit-scrollbar {
  width: 0px;
}

/* Track */
#menuLeft::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#menuLeft::-webkit-scrollbar-thumb {
  background: #008037; 
  border-radius: 10px;
}

/* Handle on hover */
#menuLeft::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/*footer*/
.efooter{
	position: relative;
	min-height: 230px;
	height: 100%;
	width: 100%;
	color:black;
	background-image: url("<?= Yii::app()->getModule('costum')->assetsUrl?>/images/eywa/footer_bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
}
footer{
	min-height: 200px;
	height: auto;
	width: 100%;
}
@media (max-width:600px){
	.efooter{
		flex-direction: column;
		align-items: center;
    	justify-content: flex-end;
	}
}