@font-face {
    font-family: 'Nunito';
    src: url("../../font/jaona/Nunito-Regular.ttf");
    font-weight: normal
}

@font-face {
    font-family: 'Nunito';
    src: url("../../font/jaona/Nunito-Bold.ttf");
    font-weight: bold
}

@font-face {
    font-family: 'Nunito';
    src: url("../../font/jaona/Nunito-ExtraBold.ttf");
    font-weight: 900
}

@font-face {
    font-family: 'PermanentMarker';
    src: url("../../font/jaona/PermanentMarker-Regular.ttf")
}

section {
    padding: 0px!important;
}

span[class^='word'] {
    color: white !important
}

html {
    scroll-behavior: smooth
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

[id^='container-'] {
    scroll-margin-top: 59px
}

#container-home {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/jaona/hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: auto, top;
    height: calc(100vh - 63px)!important;
}

#container-home div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito';
    font-size: xx-large;
    color: white
}

#container-home * {
    color: white !important
}

.progress-bar {
    background-color: #29b6f6!important;
}

.progress {
    background-color: #efebe9
}

.navbar-dark .nav-item .nav-link {
    color: white
}

.navbar {
    transition: 0.2s;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
    background-color: white
}

.navbar .nav-item {
    height: 100%;
    position: relative;
    text-align: center
}

.navbar .nav-item .nav-link {
    text-align: center
}

.navbar .nav-item .active {
    color: #0288d1 !important;
    transition: width 1s
}

@media (min-width: 767px) {
    .navbar .nav-item .active::after {
        background-color: #0288d1;
        border-radius: 7px;
        display: block;
        height: 4px;
        animation: navs 0.3s cubic-bezier(0.6, -0.26, 0.48, 1.31);
        bottom: -24%;
        left: 0;
        right: 0;
        position: absolute;
        content: ''
    }
}

.level-1 {
    margin-left: 30px;
    display: block
}

.level-2 {
    margin-left: 60px;
    display: block
}

.level-3 {
    margin-left: 90px;
    display: block
}

.level-4 {
    margin-left: 120px;
    display: block
}

ul li {
    list-style: none
}

@keyframes navs {
    0% {
        margin-right: 50%;
        margin-left: 50%
    }
    100% {
        margin-right: 0%;
        margin-left: 0%
    }
}

.card {
    border-radius: 8px !important
}

.card .card-body .badge {
    color: white;
    font-size: x-small;
    margin: 0px 2px 0px 2px
}

.card .card-body .badge-1 {
    background-color: #ffb74d
}

.card .card-body .badge-2 {
    background-color: #4db6ac
}

.card .card-body .badge-3 {
    background-color: #9575cd
}

.card .container-card-img {
    position: relative;
    border-radius: 8px !important;
    overflow: hidden
}

.card .container-card-img .card-img {
    transform: scale(1)
}

.card .container-card-img .container-card-img-button {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease 0.3s;
    opacity: 0
}

.card .container-card-img .container-card-img-button * {
    color: white !important;
    cursor: pointer
}

.card .container-card-img .container-card-img-button div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card:hover .container-card-img {
    position: relative
}

.card:hover .container-card-img .card-img {
    transform: scale(1.1);
    transition: ease-in 0.3s
}

.card:hover .container-card-img .container-card-img-button {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.card:hover .container-card-img .container-card-img-button button {
    width: 100%;
    padding: 0px !important;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none
}

#nav-portfolio ul.nav .btn-portfolio {
    font-size: larger;
    color: #455a64;
    cursor: hand
}

#nav-portfolio ul.nav .active {
    font-weight: bold
}

#container-resume span.date {
    font-weight: 900
}

.owl-carousel {
    display: none
}

* {
    font-family: 'Nunito';
    color: #455a64
}

* strong {
    font-weight: bold
}

* .fancybox-container * {
    color: white !important
}

blockquote {
    text-align: justify
}

h1.title-section {
    text-align: center;
    display: block
}

h1.title-section span {
    color: #0288d1 !important
}

#container-contact {
    background-color: #343e43
}

#container-contact * {
    color: white !important
}

#container-contact #footer-author {
    background-color: #455a64;
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: x-small
}

.color-1 {
    color: #ffb74d !important
}

.color-2 {
    color: #4db6ac !important
}

.color-3 {
    color: #9575cd !important
}

.color-secondary {
    color: #0288d1 !important
}

.color-primary {
    color: #455a64 !important
}

.border-primary {
    border-color: #455a64 !important
}

.experience-details {
    color: #455a64;
    font-size: small
}

#contacts {
    color: #455a64
}

#contacts * {
    color: #455a64
}

.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.sk-folding-cube .sk-cube::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.sk-folding-cube .sk-cube1::before {
    background-color: #0288d1
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg)
}

.sk-folding-cube .sk-cube2::before {
    background-color: #ffb74d;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg)
}

.sk-folding-cube .sk-cube3::before {
    background-color: #4db6ac;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg)
}

.sk-folding-cube .sk-cube4::before {
    background-color: #9575cd;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

.disable-scroll {
    overflow: hidden
}

@media (max-width: 767px) {
    .navbar-dark .show .nav-link {
        color: rgba(0, 0, 0, 0.5)
    }
    .navbar-collapse {
        background-color: white
    }
}

.navbar-brand {
    font-family: 'PermanentMarker'
}

.navbar-light .navbar-brand {
    color: #0288d1
}


/*# sourceMappingURL=style.css.map */