.endOfresults a, .endOfresults span{
    display:none;
}

#show-bottom-add.opened .toolbar-bottom-fullwidth{
    left:unset;

}

#show-bottom-add .toolbar-bottom-adds {
    bottom: 50px !important;
}    

.toolbar-bottom-fullwidth{
display:none;
    width: 205px !important;
}
.c-footer {
    padding-top: 25px !important;
    padding-bottom: 45px !important;
    background: #f5f9fc !important;
}

.c-footer--logo {
    display: block;
    width: 138px;
    margin: 0 auto 28px auto !important;
}

@media screen and (min-width:768px) {
    .c-footer--logo {
        margin: 0;
    }
}

.c-footer--title {
    display: block;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.14px;
}

.c-footer a {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.c-footer--address {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 0.14px;
}

.c-footer--mail {
    line-height: 1.33;
    letter-spacing: 0.14px;
}

.c-footer--tel {
    margin-bottom: 25px;
    line-height: 1.33;
    letter-spacing: 0.14px;
}

@media screen and (min-width:768px) {
    .c-footer .o-boxer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.label-menu{
    margin-left: 5px;
}


.o-boxer {
    display: grid;
}
#ajax-modal{
    z-index: 100000 !important;
}

.label-menu{
    margin-left: 5px;
}

.btn-tag{
    background-color: #144894 !important;
    font-weight: 600;
    color: white !important;
}

.btn-event-participate{
    color : black !important;
    background-color: #E8E8E7;
    font-weight: unset !important;
    margin-left:2px;
}

.btn-event-participate:hover{
    background-color: transparent;
    cursor:pointer;
}
/*# sourceMappingURL=style.css.map */



/*


#notificationPanelSearch{
top:60px ;
right:0 !important;

}

.dropdown.dropdown-sources{
	display:none !important;
}

.dropdown.dropdown-price{
	display:none !important;
}

.dropdown.dropdown-tags{
	display:none !important;
}*/

/*.menu-app-top button {
    padding: 10px 12px !important;
    border-right: 1px dotted !important;
    border-color: #c9c4c4 !important;

    font-size: 17px;

} 

.menu-app-top button:first-child {
    border-left: 1px dotted !important;
    border-color: #c9c4c4 !important;
} */

/*.menu-app-top button:hover {

    
   border-bottom : 4px solid #f3d21a;

} */

.menu-app-top button.active {
   border-bottom : 4px solid #f3d21a;
} 

/*.btn-menu-connect{
    float : right;
}

#navbar{
    max-width: 90%;
}

.menu-app-top{
	max-width: 90%;
}*/