#myKanban {
    position:relative;
    overflow-x: auto;
    padding: 20px 0;
    width:100%;
    -webkit-overflow-scrolling: touch;
}
#myKanban1 {
    position:relative;
    width:100%;
    overflow-x: scroll; 
    overflow-y:hidden
}

#myKanban::-webkit-scrollbar-track,
#myKanban1::-webkit-scrollbar-track,
.kanban-board .kanban-drag::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	/* border-radius: 5px; */
}

#myKanban::-webkit-scrollbar,
#myKanban1::-webkit-scrollbar,
.kanban-board .kanban-drag::-webkit-scrollbar{
	width: 4px;
    height: 4px;
	background-color: #F5F5F5;
}

#myKanban::-webkit-scrollbar-thumb,
#myKanban1::-webkit-scrollbar-thumb,
.kanban-board .kanban-drag::-webkit-scrollbar-thumb{
	/* border-radius: 10px; */
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

#myKanban1 div{
    position:relative;
    width:1500px;
    height:10px
}
#myKanban .kanban-board .kanban-drag {
    min-height: 200px;
    padding: 20px;
    height: 456px;
    position: relative;
    overflow: auto;
}
.kanban-container .success {
    background: #00b961;
}

.kanban-container .info {
    background: #2a92bf;
}

.kanban-container .warning {
    background: #f4ce46;
}

.kanban-container .error {
    background: #fb7d44;
}

.kanban-container .custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}