

.select2-container-multi.aapstatus-container .select2-choices .select2-search-choice{
    background-color: transparent !important;
    border: 1px solid #2c3e50 !important;
    border-radius: 0px !important;
    cursor: default !important;
    float: left;
    color: black !important;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 16px 5px 16px;
    font-size: 12px !important;
    font-weight: bold;
    color: #2c3e50 !important;
}


.aapstatus-dropdown{
    background-color: #b6dad1;
}

.select2-container-multi.select2-container-disabled .select2-choices {
     background-color: #fff;
    background-image: none;
    /* border: 1px solid #ddd; */
    cursor: default;
    border: 0px;
}

.select2-container-multi:not(.select2-container-disabled) .select2-choices {
    background-color: #f5f5f5;
    border: 1px solid #dae0e4;
    border-radius: 6px;
}


