/*PROPOSITIONS ***********************************************************/

.morecontent {
    display: none;
}
.markdown{
    white-space: initial !important;
}
.aapnav {
    font-family: 'Lexend Exa', sans-serif;
    position: relative;
    /*top: 15px;*/
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    /*border-radius: 30px;*/
    margin: 20px;
    /*animation: slide-in 1s ease-out;*/
}
.aapnav ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}
.aapnav ul li:not(:last-child) {
    margin-right: 40px;
}
.aapnav ul li {
    border: 2px solid transparent;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    transition: background 0.2s;
}
.aapnav ul li a {
    color: #3d4c58;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-size: 14px;
    cursor: pointer;
}
.aapnav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #FFA91B;
    border: 2px solid #F7C833;
    border-right: 2px solid #F89329;
    border-bottom: 2px solid #F89329;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
}
.aapnav ul li ul li {
    margin: -2px 0 0 -2px;
    width: calc(100% - 20px);
    line-height: 1.7;
}
.aapnav ul li ul li a {
    color: #2375D8;
}
.aapnav ul li:hover, .aapnav ul li.active {

    border-bottom: 2px solid #a5d952;
}
.aapnav ul li:hover a, .aapnav ul li.active a {
    color: #3d4c58;
    font-weight: bold;
}
.aapnav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px 2px #EBECF1;
}

@media (max-width: 767px) {
    .aapnav {
        margin: 0px;
    }
    .aapnav ul li {
        padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
        width: 50%;
        margin: 0px;
        width: 49%;
        display: inline-block;
    }
    .aapnav ul li:not(:last-child)  {
        margin-right: 0px;
    }
    .aapnav ul {
        display: block;
        padding: 0 10px;
    }
}
.aapnav ul li:hover ul li a {
    color: #F9F8FD;
    font-size: 12px;
}
@keyframes slide-in {
    0% {
        top: -50px;
    }
    40% {
        top: 20px;
    }
    70% {
        top: 10px;
    }
    100% {
        top: 15px;
    }
}

.aapswitch {
    background-color: #a3a0a0 !important;
    border-color: #a3a0a0 !important;
/*        font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 10px;*/
}

.aaapbtnchart {
    background-color: #7282c6 !important;
    border-color: #7282c6 !important;
}
/*@media (max-width: 767px){*/
    .breadcrumb {
        padding: 10px;
        font-size: 15px !important;
        color: #fff !important;
        letter-spacing: 1px !important;
        border-radius: 8px !important;
    }

    .breadcrumb li a {
        text-decoration: none !important;
        color: #aaa
    }

    .breadcrumb li.active a {
        text-decoration: none !important;
        color: #000
    }

    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #7da53d;
        content: '\f101';
        font-family: FontAwesome;
    }
/*}*/

.aapconfigdiv{
    background-color: #f5f5f5;
    padding: 10px;
￼   font-size: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}

/*.aap-breadrumbbtn {
    border: solid 2px #3f4e58;
    border-radius: 10px;
    font-weight: bold;
    background-color: #fff;
    color: #3f4e58;
}*/
.aap-breadrumbbtn{
    top: 2px;
    position: relative;
    margin: 0px;
    padding: 8px 12px;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 3px 2px rgb(0 0 0 / 30%); */
    background: #7da53d;
    border: 0;
    /* border-bottom: 3px solid #3f4e58; */
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #fff;
    box-shadow: inset 0 -3px #fff;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.aap-breadrumbbtn:hover, .aap-breadrumbbtn:active {
    top: 2px;
    background: #3f4e58;
    /* border-bottom: 3px solid #7da53d; */
    color: #fff;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

#btn-gotoco {
    /*height: 0px;
    width: 45px;*/
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 1000;
    /*transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    /*display: block;
    background: #0bcb9a;
    height: 45px;
    padding-top: 10px;
    width: 45px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;*/
}

/* STYLE BY NICOSS */
/*@media (min-width: 768px){
    .breadcrumb {
        padding: 0px;
        background: #f5f5f5;
        list-style: none;
        overflow: hidden;
        margin-top: 20px;
    }
    .breadcrumb>li+li:before {
        padding: 0;
    }
    .breadcrumb li {
        float: left;
    }
    .breadcrumb li.active a {
        background: #7da53d ;
        color: #fff;
    }
    .breadcrumb li.completed a {
        background: hsla(153, 57%, 51%, 1);
    }
    .breadcrumb li.active a:after {
        border-left: 30px solid #7da53d ;
    }
    .breadcrumb li.completed a:after {
        border-left: 30px solid hsla(153, 57%, 51%, 1);
    }

    .breadcrumb li a {
        color: #3f4e58;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        position: relative;
        display: block;
        float: left;
        font-size: 14px;
    }
    .breadcrumb li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
        border-bottom: 50px solid transparent;
        !*border-left: 30px solid hsla(0, 0%, 83%, 1);*!
        border-left: 30px solid #f5f5f5;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
    .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;           !* Go big on the size, and let overflow hide *!
        border-bottom: 50px solid transparent;
        border-left: 30px solid #3f4e58;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }
    .breadcrumb li:first-child a {
        padding-left: 15px;
    }
    .breadcrumb li a:hover { background: #7da53d;color: #fff; }
    .breadcrumb li a:hover:after { border-left-color: #7da53d   !important; }


}*/
.container-filters-menu .dropdown .btn-menu, .container-filters-menu .filters-btn {
    border: 1px solid #7da53d!important;
}
.container-filters-menu .searchBar-filters .input-group-addon {
    background-color: #7da53d!important;
}
.container-filters-menu #input-sec-search .input-group-addon {
    color: #7da53d;
    border: 1px solid #7da53d;
    border-right-width: 0px;
}
.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar {
    border: 1px solid #9fbd38!important;
}

@media (max-width: 767px){
    .showHide {
        color: #9fbd38;
    }
    .showHide:hover, .showHide:active, .showHide:focus{
        background-color: #9fbd38;
        color: #fff;
    }
    /* .container-filters-menu .searchBar-filters {
        display: none!important;
    } */
    .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid #9fbd38!important;
    }
    .searchBarInMenu #main-search-bar-addon{
        background-color: #9fbd38!important;
    }
    .container-filters-menu {
        border-top: 2px solid #9fbd38;
        min-height: 300px!important;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }
}