/* loader =========> */
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}
.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}
.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}
.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}
.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}
.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}
.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}
.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}
.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}
.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}
@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
/* <======== loader */

button:focus{
    outline:none !important;
}

.weekly-forecast-header{
    display: flex;
    align-items: flex-start;
    justify-content:center;
}
.weekly-forecast-title{
    width: 1100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
@media only screen and (max-width: 767px){
    .weekly-forecast-title{
        display:none;
    }
}

.weekly-forecast-title .weekly-day-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekly-forecast-title .weekly-day-nav li{
    list-style: none;
    display: inline-block;
}

.weekly-forecast-title .weekly-day-nav li:nth-child(2){
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.weekly-forecast-title .weekly-day-nav li:nth-child(2) span{
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 30px;
    background-color: #00c9eb;
    color: white;
    margin-left: 10px;
}

.weekly-forecast-title .weekly-day-nav li:not(:nth-child(2)){
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    transition: .3s;
    cursor: pointer;
}
.weekly-forecast-title .weekly-day-nav li:not(:nth-child(2)):hover{
    background-color: #00c9eb;
    border-color: #00c9eb;
    color:white;
}

.avis-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avis-container .note-general li{
    display: inline-block;
    list-style: none;
    color:#ff7a00;
}

.avis-container button{
    transition: .3s;
    border-radius: 30px;
}
.avis-container button:hover{
    background-color: #00c9eb;
    color:white;
}
.avis-input{
    position: absolute;
    padding: 2px 10px;
    right: 10px;
    top: 50px;
    opacity: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1);
    transition: .3s;
}
.avis-input.active{
    top:35px;
    opacity: 1;
}
.avis-input ul{
    display: flex;
}
.avis-input ul li{
    list-style: none;
    color:#ff7a00;
    padding: 0px 4px;
    cursor: pointer;
}

.weekly-forecast-body{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px){
    .select-type-spot{
        width:100%;
        display:flex;
        justify-content: space-around;
    }
    .select-type-spot li a {
        padding: 4px 8px 4px 0px;
        font-weight: normal;
        font-size: 16px;
    }
    .select-type-spot li a img {
        height: 20px;
        padding: 0px 8px 0px 4px;
    }
}
.select-type-spot li{
    list-style: none;
    display: inline-block;
}
.select-type-spot li a img{
    height: 25px;
    width: auto;
    padding: 0px 10px 0px 20px;
}
.select-type-spot li a{
    padding: 10px 20px 10px 0px;
    border-radius: 40px;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    transition: .3s;
}
.select-type-spot li a:hover, .select-type-spot li a.active{
    background-image: linear-gradient(to top, #348ecc, #00e5c1);
    color: white;
    border-color: #00e5c1;
}
.select-type-spot li a:hover > img, .select-type-spot li a.active > img{
    filter: invert(100%);
}
.select-type-spot li a{
    text-decoration: none;
}

.spot-image-container{
    width: 420px;
    height: 420px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
@media only screen and (max-width: 767px){
    .spot-image-container{
        width:100%;
    }
}
.spot-image-container .map-container, .spot-image-container .map-baseline{
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat:no-repeat;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 5px;
    transition: .4s;
    background-size: cover;
}
.spot-image-container .loader{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.spot-image-container .loader.visible{
    visibility: visible;
    opacity: 1;
}

.spot-data-container{
    width: fit-content;
    min-height: 420px;
    padding: 10px;
    /* box-shadow: 0 0px 5px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1); */
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
@media only screen and (max-width: 767px){
    .spot-data-container{
        display: none;
    }
}

.spot-data-container table{
    width: 100%;
}
.spot-data-container table th{
    text-align: center;
    padding: 2px;
    font-size: 11px;
    color: #707070;
}
.spot-data-container table th span{
    display: inline-block;
    width: 100%;
    padding: 4px 1px;
    color: #344848;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background-color: #c1d7d7;
}
.spot-data-container table tbody{
    border-top: 15px solid transparent;
}

#table-weekly-forecast tr td{
    text-align: center;
}

.table-section-title tr{
    transition: visibility .3s;
}
.table-section-title td{
    padding-top: 0px;
}
.table-section-title td span{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px 5px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    color: #666666;
}

.table-section-title td span i{
    margin-left: 10px;
}

.with-td-separator{
    border-right: 1px solid #eaeaea;
}


.stack-bar-item{
    position: relative;
}

.stack-bar-wrapper{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor:pointer;
}
.stack-bar{
    cursor: pointer;
}

.stack-bar-item .stack-max, .stack-bar-item .stack-min{
    position: absolute;
    width: 10px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.stack-bar-item .stack-max{
    background-color: #ff6700;
    border-radius: 2px 2px 0px 0px;
}
.stack-bar-item .stack-min{
    background-color: #ffcc00;
}
.hsig td, .wave-dir td, .periode td, .wind-dir td, .tind-times td, .tind-height td{
    padding: 0px 2px;
    text-align: center;
    font-size: 12px;
}
.tind-times td{
    padding-bottom: 5px;
}
.tind-height td{
    padding-top: 0px;
}
.hsig td span, .wave-dir td span, .periode td span, .wind-dir td span, .tind-times td span, .tind-height td span{
    display: inline-block;
    width: 100%;
    /* border: 1px solid #eaeaea; */
    padding: 4px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #eaeaea;
}

.tooltip{
    z-index:999999;
}

.tooltip-inner {
    font-size: 11px;
    min-width: 150px !important;
    background-color: #004092 !important;
    padding: 5px !important;
}

.tooltip-wave .date-time{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
    padding-bottom: 2px;
    font-weight:bold;
    border-bottom: 1px solid rgba(255,255,255,.5);
    margin-bottom:5px;
}
.tooltip-wave ul{
    width: 100%;
}
.tooltip-wave ul li{
    font-size: 12px;
    padding: 5px;
    display:flex;
    justify-content: space-between;
}
.tooltip-wave ul li img{
    padding: 2px;
    background: white;
    border-radius: 100%;
}
.tooltip-arrow{
    border-top-color: #004092 !important;
}
.chart-graduation{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chart-graduation li{
    font-size: 12px;
    list-style: none;
    color: #707070;
    position:relative;
    line-height:0;
}

.btn-map-zoom{
    position: absolute;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-size: 1.8em;
    text-align: center;
    line-height: 45px;
    left: 7px;
    top: 5px;
    transition: .3s;
}
.btn-map-zoom:hover{
    background-color: #0093d0;
    color: white;
}

.btn-map-spot-m2{
    position: absolute;
    border: none;
    width: 88px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    opacity: 0;
    cursor:pointer;
    transition: .3s;
    background-color: #0093d0;
    color: white;
}
.btn-map-spot-m2:hover{
    opacity: .95;
}

.btn-map-spot-m0{
    font-weight: bold;
    position: absolute;
    border: none;
    text-align: center;
    transition: .3s;
    font-size: 12px;
    border-radius: 50px;
    background-color: #0093d0;
    color: white;
    opacity:0;
}
.btn-map-spot-m0:hover{
    opacity: 1;
}

.btn-map-spot-navigation {
    position: absolute;
    width: 38px;
    border: none;
    height: 28px;
    transition:.3s;
}
.btn-map-spot-navigation-up{
    border-radius: 0px 0px 10px 10px;
}
.btn-map-spot-navigation-down{
    border-radius: 10px 10px 0px 0px;
}
.btn-map-spot-navigation-top{
    border-radius: 0px 0px 10px 10px;
}
.btn-map-spot-navigation-right{
    width: 30px;
    height: 36px;
    border-radius: 10px 0px 0px 10px;
}
.btn-map-spot-navigation-left{
    width: 30px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
}
.btn-map-spot-navigation:hover{
    background-color: #0093d0;
    color: white;
}
