/* vietnamese */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v12/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v12/1Ptgg87LROyAm3K9-C8QSw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v12/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#mainNav{
    background-color: white !important;
    padding: 10px calc(5% + 10px) !important;
}

.menu-name-profil{
    box-shadow: none !important;
}

.label-menu{
    margin: 0px 10px !important;
}

.label-menu:hover{
    text-decoration: none !important;
}
#bg-homepage{
    border: none !important;
}

.main-container {
    padding: 30px 5%;
}
@media only screen and (max-width: 767px){
    .main-container {
        padding: 0px;
    }
}

ul{
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 767px){
    .section-weekly-forecast{
        margin-top: 30px;
    }

    #menuTopLeft{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    #mainNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menuTopLeft img{
        height: 45px;
    }

    #menuTopRight{
        align-items: center;
        justify-content: flex-end;
        margin: 0 !important;
        padding: 0 !important;
    }

    #mainNav .open-xs-menu{
        padding: 0 !important;
        display: block !important;
        font-size: 20px;
        width: 40px;
        height: 40px;
        background: black;
        text-align: center;
        line-height: 40px;
        color: white;
        border-radius: 40px;
    } 
}
