#mainNav{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#menuTopRight .label-menu{
	display: block;
	font-size: 12px;
	font-weight: bolder;
}

#filters-nav{
	padding-top: .7em !important;
}

#menuTopRight{
	padding-top: 2px !important;
}

#mainNav #menuTopRight {
    margin-top: 2px !important;
}

#mainNav .menu-btn-top {
    padding-top: 3px !important;
}

#menuTopRight .lbh-menu-app .fa, .circle, .menu-btn-top .fa, #menuToRight .btn-language{
	padding: 0.5em;
	border: 2px solid #2C3E50;
	border-radius: 40px;
}

#menuTopRight .btn-language, #menuTopRight .menu-button .btn-menu{
	padding: 0.5em;
	padding-left: 0.7em;
	background: transparent;
	border: 2px solid transparent;
}

#ajax-modal.portfolio-modal.modal {
    z-index: 99999 !important;
}

#menu-thumb-profil {
	box-shadow: 0px 0px 5px 5px #cccccc;
}

.dropdown-menu-top a.menu-button{
	background:transparent;
	padding: 0px !important;
}

.dropdown-menu-top a.menu-button i{
	padding-top: 12px !important;
}

#mainNav .btn-menu-register{
	padding: 10px 10px !important;
	padding-top: 10px !important;
	border-radius: 2px !important;
	background: white !important;
	color: #666;
	font-size: 18px !important;
	font-weight: 800 !important;
	text-transform: uppercase;
	border-color: #ccc;
}

.menu-name-profil{
	margin-left: 40px;
	color: #777777;
	font-weight: bolder;
	background: #AFCB21 !important;
}

#mainNav .btn-menu-connect{
	padding: 10px 10px !important;
	border-radius: 40px !important;
	background: white !important;
	color: #666;
	font-size: 18px !important;
	font-weight: 800 !important;
	text-transform: uppercase;
	border-color: #ccc;
}

#mainNav .btn-menu-connect .fa, #mainNav .btn-menu-register .fa{
	border:none;
	padding:0 !important;
}

@media (max-width: 767.98px) {
	.lbh-menu-app .fa, .lbh-menu-app .fa, .circle, .menu-btn-top .fa{
		padding: 0.5em;
		border: 2px solid #2C3E50;
		border-radius: 40px;
		font-size: 10pt !important;
	}
}
a[href="#mindmap"] i.fa-sitemap{
    transform: rotateZ(-90deg);
}

/*** RIES ***/
.contain-btn {
	width: 100%;
	position: absolute;
	top: 80px;
}

#menuLeft #show-bottom-add{	
	width: inherit;
	font-size: x-large;
	background-color: #4ab5a1 !important;
	color: white !important;
	bottom: 10px !important;
}

#ajax-modal .modal-header {
    width: 70%;
    margin-left: 15%;
    border-radius: 100px;
    margin-top: 10px;
    color: white !important;
    background-color: #4ab5a1 !important;
}


/**** CRESS REUNION ****/
#customHeader{
	padding:20px;
}