

#filterContainer{
	margin-top:20px;
	margin-bottom: 10px;
}
.container-filters-menu {
    /*background-color: var(--main1);*/
}
.central-section .central-container #filterContainer{
    margin-top: 0px;
}
#filterContainer .dropdown, #filters-nav .dropdown{
	float: left;
    display: grid;
    /* height: 57px; */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
    #filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu{
        border: 1px solid var(--main1);
        color: var(--main1);
    }

#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu{
	border: 1px solid var(--main1);
    padding:0px; 
}
/*#filterContainer .dropdown .dropdown-menu:before , #filters-nav .dropdown .dropdown-menu:before,
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:before,
#costum-scope-search .dropdown-result-global-search:after{
	bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}
#filterContainer .dropdown .dropdown-menu:before, #filters-nav .dropdown .dropdown-menu:before,
#costum-scope-search .dropdown-result-global-search:before{
	border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:after{
	border-bottom-color: white;
}
#filterContainer .dropdown .dropdown-menu .list-filters, #filters-nav .dropdown .dropdown-menu .list-filters{
    max-height: 300px;
    overflow-y: scroll;
}
*/
#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button{
	border: none;
    background: var(--main1);
    color: #fff;
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
    border-bottom: 1px solid #fff;
    text-align: center;
}
#filterContainer .dropdown .dropdown-menu button:hover, #filters-nav .dropdown .dropdown-menu button:hover{
	background-color: var(--main2);
}
#filterContainer .dropdown .dropdown-menu button.mainTitle, #filters-nav .dropdown .dropdown-menu button.mainTitle{
    font-weight: 800;
    padding-left: 10px;
}
#filterContainer #input-sec-search, #filters-nav #input-sec-search{
	display: grid;
	margin-bottom: 5px;
	margin-right: 10px;
	float: left;
    padding-bottom: 5px;
}
#filterContainer #input-sec-search .input-group, #filters-nav #input-sec-search .input-group{
    display: inline-flex;
}
#filterContainer #input-sec-search .input-group-addon, #filters-nav #input-sec-search .input-group-addon{
	padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: var(--main2);
    margin-top: 5px;
    text-align: center;
    background-color: white !important;
    border-right-width: 0px;
    border: 1px solid var(--main1);
    border-radius: 20px 0px 0px 20px !important;
    border-right-width: 0px;
    width: 30px;
}
#filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search{
	border-left-width: 0px;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    width: inherit;
    border-color: var(--main1);
}
#activeFilters .filters-activate{
    border: 2px solid var(--main2);
    /*background-color: #50b796;*/
    margin-right: 5px;
	margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--main1) !important;
    /*text-decoration: none;*/
    display: inline-block;
    background-color: white;
}

#activeFilters .filters-activate:hover{
    cursor:pointer;
}

#activeFilters .filters-activate i{
	margin-right: 3px;
}
/*#activeFilters{
    text-align: center!important;
}*/
#filterContainer .labelFilterTit, #filters-nav .labelFilterTit{
	line-height: 45px;
    font-size: 20px;
    margin-right: 15px;
}
#costum-scope-search .dropdown-result-global-search{
	position: absolute;
    top: 60px;
    z-index: 1;
    background-color: white;
    border: 1px solid var(--main1);
    max-height: none !important;
    border-radius: 3px;
}
#costum-scope-search .dropdown-result-global-search .content-result{
	height: 390px;
	overflow-y: overlay;
}
@media (max-width: 767px){
    .showHide {
        color: var(--main2);
    }
    #filters-nav .container-filters-menu {
       /* background-color: var(--main1)!important;*/
        top: 94px;
    }
    #filterContainer .dropdown .dropdown-menu, #filters-nav .container-filters-menu .dropdown .dropdown-menu {
        border: 1px solid var(--main1)!important;
    }
}



