#show-bottom-add.opened .toolbar-bottom-fullwidth{
left:unset;
}

.block-parent .subtitle{
	margin-top:10px !important;
	margin-bottom:10px !important;
}

.toolbar-bottom-adds{
display:none;
}

#menuBottom{
	right:unset;
}

#after-pledge-modal {
	display: block;
	background-color: rgba(0,0,0,0.5);
	z-index: 200000;
}

#after-pledge-modal .modal-content {
	top: 15px;
	left: 10%;
	width: 80%;
	border-radius: 5px;
}

.pledge-bar, .pledge-label {
	background-color: #f28437;
	color: #ffffff;

}

.donation-bar, .donation-label {
	background-color: #8ac4c5;
	color: #333333;
}

.campaign-vignette .progress, .campaign-vignette .progress-bar-key {
	margin-bottom: 0.5em;
}

.campaign-vignette .progress {
	border: solid 2px #2c3e50;
}

/*.main-container{
	padding-top:0px !important;
}*/

#modalExplain .btn-show-more:hover{
color:white;
text-decoration: underline;
font-weight: 700;
}

.progress-bar[aria-valuenow] {
     min-width: 0px !important;
}     