#mainNav.vertical .btn-show-map, #mainNav.horizontal .btn-show-map{
    text-rendering: inherit !important;
    display: block !important;
    position: fixed;
    right: 0px;
    margin: 0px !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed;
    top: 34%;
    text-align: center;
    transform: rotate(180deg);
    z-index: 10000000;
    background-color: #0095ff !important;
    height: 40% !important;
    width: 30px !important;
    border-radius: 0px 5px 5px 0px !important;
    font-size: 17px;
}
.main-container.vertical .btn-show-map, .main-container.horizontal .btn-show-map{
    display: none !important;
}
#mainNav.vertical .btn-show-map:hover,#mainNav.horizontal .btn-show-map:hover{
   color: #0095ff !important;
   border:2px solid #0095ff !important;
   border-left-width:0px !important;
   background-color: white !important;
 
}

#btn-panel {
font-size:15px;
border-radius: 5px !important;
border: solid 1px #fff;
padding: 2px;
}

/*.boxBtnLink ul{
    display:none;
}*/
.footer-menu-horizontal #show-bottom-add {
    background-color: #34a853 !important;
    z-index: 1000000;
    left: 10px;
    bottom: 10px !important;
}
.menu-linksBtn.btn-favorite-link{
    display:none;
}
/*
.boxBtnLink a:first-child{
    display:none;

}*/
.leaflet-popup-tip-container{
  /*  bottom: -30px !important;*/
}
.toolbar-bottom-adds{left: 62px;
    bottom: 3px !important;
}
.toolbar-bottom-adds .addBtnFoot{
    margin-bottom: 0px !important;
    border-radius: 10px;
}
#footerDropdown{
    display:none;
}
.footer-menu-horizontal #show-bottom-add{
    line-height: 60px;
}
.headerSearchContainer, .bodySearchContainer{
    width: 100%;
    margin-left: 0px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
}
#mainNav{
    box-shadow: 1px 0px 4px 0px #161315;
}
#mapContent .btn-hide-map{
    display:none;
}
/*.btnHeader{
border-radius: 15px !important;
border: solid 1px #fff;
padding: 0 5px 0 5px;

}*/