.dinalternate{
		font-family: 'DINAlternate-Bold';
	}

	.dinregular{
		font-family: "DIN-Regular";
	}

  	#dropdown {
	    background-color: whitesmoke;
	    width: 55% !important;
	    z-index: 1000;
	}

	.containjourney{
		border-radius:13px;
		cursor: pointer;
	}

	.containjourney .date{
		color:white;
		background-color: #EE302C;
		padding: 10px;
		border-radius: 10px;
		margin-left:2%;
		margin-right:2%;
	}

	.containjourney .journey{
		color: black;
	}

	.header{
		background: #001146;
        background-image : url(<?= $bannerImg; ?>);
        width: 101%;
        height: auto;
        background-size: cover;
        padding-bottom: 58%;
	}

	.shortdescsubevent{
		font-family: 'DIN-Regular';
	}

	ul{
		list-style: none;
	}

	/*ul li:before{
		content : "\2022";
		color:#EE302C;
	}*/

	.containjourney .dateactive {
		background-color: black;
		color:white;
		padding: 10px;
		border-radius: 10px;
	}

	.containjourney .journeyactive {
		color: #EE302C;
	}

	.datelongactive {
		display: initial;
	}

	.datelong {
		display: none;
	}

	#second-search-bar{
		font-family: 'Montserrat-md';
	}

	.imgProfil{
		max-height: 150px;
	}